[Unit]
Description=Hourly Vox Templi UTXOracle scan

[Timer]
OnBootSec=12min
OnUnitActiveSec=1h
AccuracySec=2min
Persistent=true

[Install]
WantedBy=timers.target
